{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.0.0"
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@loadable/babel-plugin",
    "@babel/proposal-class-properties",
    "@babel/syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true,
      "compact": true,
      "plugins": ["transform-remove-console"]
    },
    "development" : {
      "comments": true,
      "minified": false,
      "compact": false
    }
  }
}
