{
  "presets": ["./tools/latestPreset", "react", "stage-0"],
  "plugins": ["transform-runtime", "system-import-transformer"],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "src/components",
            "src/containers"
          ]
        }]
      ]
    }
  }
}
