@import '../../theme/variables';

body {
  background-color: $color-dark-gray;
  font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
  margin: 0;
}

.App {
  color: $color-white;
  flex-grow: 1;
}
